@import "./scss/partials/colors";

button {
    background: $primary-color;
    color: #fff;
    border-radius: 15px;
    border: 0;
    padding: 5px 10px;
    appearance: none;
    outline: none;
    height: 2.3rem;
}