@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
@import "./scss/partials/colors";
html,
body {
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  color: $primary-color;
}

a {
  color: $primary-color;
  text-decoration: none;
}

strong {
  font-weight: 700;
}

.primary-header {
  font-size: 1.4rem;
  font-weight: 700;
  text-align: center;
  display: block;
  width: 100%;

  @media (min-width: 992px) {
    font-size: 2.4rem;
    text-align: initial;
    display: initial;
    width: initial;
  }
}

.secondary-header {
  font-size: 1.2rem;
  margin: 16px 0;
  display: flex;
  align-items: center;

  .mdi {
    font-size: 2.6rem;
    margin-left: 10px;
  }

  @media (min-width: 992px) {
    font-size: 2.1rem;
  }
}