<template>
    <li :class="{'hide-mobile': !isVisibleMobile, 'hide-desktop': !isVisibleDesktop}">
        <router-link :to="{name: route.name}" class="nav-link">
            <i :class="'mdi ' + icon"></i>
            <span>{{name}}</span>
        </router-link>
    </li>
</template>

<script>
import Vue from "vue";
import Component from "vue-class-component";

@Component({
    name: "menu-item",
    props: {
        route: {
            type: Object
        }
    }
})
export default class MenuItem extends Vue {
    get isVisibleDesktop() {
        if (
            this.route.meta &&
            (this.route.meta.visibleDesktop === undefined ||
                this.route.meta.visibleDesktop)
        ) {
            return true;
        }
        return false;
    }

    get isVisibleMobile() {
        if (
            this.route.meta &&
            (this.route.meta.visibleMobile === undefined ||
                this.route.meta.visibleMobile)
        ) {
            return true;
        }
        return false;
    }

    get name() {
        return this.route.name
            .toLowerCase()
            .split("-")
            .map(s => s.charAt(0).toUpperCase() + s.slice(1))
            .join(" ");
    }

    get icon() {
        return this.route.meta.icon;
    }
}
</script>

<style lang="scss" scoped>
ul {
    li {
        a {
            display: flex;
            justify-content: center;
            align-items: center;

            span {
                padding-left: 5px;
            }
        }
    }
}
</style>