<template>
    <nav>
        <ul>
            <menu-item v-for="(r,i) in routes" :key="i" :route="r"></menu-item>
        </ul>
    </nav>
</template>

<script>
import Vue from "vue";
import Component from "vue-class-component";

@Component({
    name: "navbar",
    components: {
        MenuItem: () => import(/* webpackChunkName: "menu-item" */ "./MenuItem")
    }
})
export default class NavBar extends Vue {
    get routes() {
        return this.$router.options.routes;
    }
}
</script>

<style lang="scss">
@import "../../scss/partials/colors";

nav {
  overflow: hidden;

    ul {
        display: flex;
        justify-content: space-around;
        max-width: 100vw;
        overflow-x: scroll;

        @media (min-width: 992px) {
            flex-direction: column;
            align-items: flex-start;
            overflow-x: initial;
        }

        li {
            @media (min-width: 992px) {
                width: 100%;
                margin-bottom: 15px;

                &:nth-of-type(2) {
                    a {
                        padding-top: 4px;
                        padding-bottom: 4px;
                    }
                }
            }

            a {
                align-items: center;
                justify-content: center;
                color: #c2c2c2;
                flex-direction: column;

                @media (min-width: 992px) {
                    padding: 40px;
                    background: $card-background-color;
                    border: 1px solid $secondary-color;
                    border-radius: 5px;
                }

                &.router-link-active {
                    color: $primary-color;
                }
            }
        }
    }
}
</style>