<template>
  <div>
    <h2 class="secondary-header">
      Actions
      <i class="mdi mdi-gesture-tap"></i>
    </h2>
  </div>
</template>

<script>
import { Component, Vue } from "vue-property-decorator";

@Component({})
export default class Actions extends Vue {}
</script>

<style scoped>
</style>