<template>
  <div>
    <h2 class="secondary-header">
      <span>Devices</span>
      <i class="mdi mdi-devices"></i>
    </h2>
    <ul v-if="network && network.device && network.device.length">
      <device v-for="d in network.device" :key="d.meta.id" :device="d"></device>
    </ul>
  </div>
</template>

<script lang="ts">
//import Vue from "vue";
import { Component, Vue } from "vue-property-decorator";
import { SeluxitService } from "../services/SeluxitService";
import Device from "../components/Device.vue";

@Component({
  components: {
    Device
  }
})
export default class Devices extends Vue {
  network: any = null;

  mounted() {
    SeluxitService.get()
      .then(res => {
        this.network = res;
      })
      .catch(err => {});
  }
}
</script>

<style lang="scss" scoped>
ul {
  display: flex;
  flex-direction: column;

  @media (min-width: 992px) {
    flex-direction: initial;
  }

  li {
    margin-right: 15px;
    margin-bottom: 15px;
  }
}
</style>