<template>
  <div>
    <div class="header">
      <h2 class="secondary-header">
        My home
        <i class="mdi mdi-home-automation"></i>
      </h2>
      <button>Add</button>
    </div>
    <ul>
      <li>
        <a href="/devices">
          <i class="mdi mdi-sofa"></i>
          <strong>Living room</strong>
          <small>2 devices</small>
        </a>
      </li>
      <li>
        <a href="#">
          <i class="mdi mdi-fridge-outline"></i>
          <strong>Kitchen</strong>
          <small>5 devices</small>
        </a>
      </li>
      <li>
        <a href="#">
          <i class="mdi mdi-bed-king-outline"></i>
          <strong>Bedroom</strong>
          <small>5 devices</small>
        </a>
      </li>
    </ul>
  </div>
</template>

<script>
import { Component, Vue } from "vue-property-decorator";

@Component({})
export default class Home extends Vue {}
</script>

<style lang="scss" scoped>
@import "../scss/partials/colors";
.header {
  display: flex;
  justify-content: space-between;
}
ul {
  display: flex;
  max-width: 100vw;

  li {
    margin-right: 15px;

    &:last-child {
      margin-right: 0;
    }

    a {
      padding: 10px;
      background: $card-background-color;
      border: 1px solid $secondary-color;
      border-radius: 5px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: fit-content;
      min-width: 80px;

      @media (min-width: 992px) {
        padding: 40px 0 40px 30px;
        width: 120px;
      }

      .mdi {
        font-size: 3rem;
      }
    }
  }
}
</style>