<template>
  <div>
    <h2 class="secondary-header">
      Profile
      <i class="mdi mdi-account-circle"></i>
    </h2>
  </div>
</template>

<script>
import { Component, Vue } from "vue-property-decorator";

@Component({})
export default class Profile extends Vue {}
</script>

<style scoped>
</style>