<template>
  <div>
    <h2 class="secondary-header">
      Recipes
      <i class="mdi mdi-clipboard-play-outline"></i>
    </h2>
  </div>
</template>

<script>
import { Component, Vue } from "vue-property-decorator";

@Component({})
export default class Recipes extends Vue {}
</script>

<style scoped>
</style>