<template>
  <div>
    <h2 class="secondary-header">
      Rooms
      <i class="mdi mdi-animation"></i>
    </h2>
  </div>
</template>

<script>
import { Component, Vue } from "vue-property-decorator";

@Component({})
export default class Rooms extends Vue {}
</script>

<style scoped>
</style>