<template>
  <div>This is Room</div>
</template>

<script>
import { Component, Vue } from "vue-property-decorator";

@Component({})
export default class Room extends Vue {}
</script>

<style scoped>
</style>