<template inline-template>
  <li>
    <div v-if="device.name == 'Stove-2020'" class="device">
      <strong>{{ device.name }}</strong>
      <small>{{ device.manufacturer }}</small>
      <div class="sensors">
        <div v-for="value in device.value" :key="value.meta.id">
          <label class="on-off" v-if="value.type === 'on_off'">
            <span>{{ value.name }}</span>
            <input
              type="checkbox"
              v-model="value.state[0].data"
              @change="toggleOnOff($event, device, value)"
            />
          </label>
          <div
            class="sensor"
            v-if="(value.type === 'temperature' || value.type === 'heat_intensity') && value.state[0].type === 'Control'"
          >
            <label class="sensor-value">
              <span>
                {{ value.state[0].data }}
                <span>{{ value.type === 'temperature' ? '&#8451;' : value.number.unit }}</span>
              </span>
            </label>
            <input
              type="range"
              :min="value.number.min"
              :max="value.number.max"
              :step="value.number.step"
              v-model="value.state[0].data"
              @change="changeTemp(device, value)"
            />
            <span>{{ value.name }}</span>
          </div>

          <div
            class="sensor"
            v-if="(value.type !== 'temperature' || value.type !== 'heat_intensity') && value.state[0].type !== 'Control'"
          >
            <label class="sensor-value">
              <span>{{ value.state[0].data }}</span>
              <span v-if="!!value.number && !!value.number.unit">{{ value.number.unit }}</span>
            </label>
            <span>{{ value.name }}</span>
          </div>
        </div>
      </div>
    </div>
    <div v-if="device.name == 'Indoor module'" class="device">
      <strong>{{ device.name }}</strong>
      <small>{{ device.manufacturer }}</small>
      <div class="sensors">
        <div v-for="value in device.value" :key="value.meta.id">
          <div class="sensor" v-if="value.type === 'co2'">
            <label class="sensor-value">
              <span v-if="co2 === 0">{{ value.state[0].data }}</span>
              <span v-if="co2 > 0">{{ co2 }}</span>
              <span>{{ value.number.unit }}</span>
            </label>
            <span>{{ value.name }}</span>
          </div>

          <div class="sensor" v-if="value.type !== 'co2'">
            <label class="sensor-value">
              <span>{{ value.state[0].data }}</span>
              <span v-if="!!value.number && !!value.number.unit">{{ value.number.unit }}</span>
            </label>
            <span>{{ value.name }}</span>
          </div>
        </div>
      </div>
    </div>
  </li>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import { SeluxitService } from "../services/SeluxitService";
import IDevice from "../models/Device";

@Component({
  props: {
    device: Object
  }
})
export default class Device extends Vue {
  device: IDevice;
  co2: number = 0;

  mounted() {
    window.console.log(this.device);

    (this.$options as any).sockets.onmessage = (msg: any) => {
      this.co2 = JSON.parse(msg.data).data;
    };
  }

  toggleOnOff($event, device: IDevice, value: any) {
    window.console.log($event.target.checked);
    let dataObj = {
      timestamp: new Date().toISOString(),
      data: $event.target.checked ? "1" : "0",
      meta: {
        id: value.state[0].meta.id
      }
    };

    SeluxitService.updateDevice(
      device.meta.id,
      value.meta.id,
      value.state[0].meta.id,
      dataObj
    );
  }

  changeTemp(device: IDevice, value: any) {
    let dataObj = {
      timestamp: new Date().toISOString(),
      data: value.state[0].data,
      meta: {
        id: value.state[0].meta.id
      }
    };

    SeluxitService.updateDevice(
      device.meta.id,
      value.meta.id,
      value.state[0].meta.id,
      dataObj
    );
  }
}
</script>

<style lang="scss" scoped>
@import "../scss/partials/colors";
.device {
  padding: 10px;
  background: $card-background-color;
  border: 1px solid $secondary-color;
  border-radius: 5px;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  max-width: 100vw;
  overflow: hidden;

  @media (min-width: 992px) {
    width: 476px;
    // height: 238px;
  }

  label {
    text-align: center;
  }

  .on-off {
    position: absolute;
    top: 10px;
    right: 10px;
  }

  .sensors {
    display: flex;
    flex: 0 1 100%;
    justify-content: space-around;
    justify-content: center;
    flex-direction: column;

    .sensor {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;

      .sensor-value {
        margin-top: 2rem;
        font-size: 2rem;
        display: block;
      }

      input[type="range"] {
        max-width: 100px;
      }
    }
  }
}
</style>