<template>
  <div id="app">
    <header>
      <h1 class="primary-header">Smart Home app</h1>
      <a href="/profile" class="profile-link hide-mobile"><i class="mdi mdi-account-circle"></i><div>Profile</div></a>
    </header>
    <aside>
      <navbar></navbar>
    </aside>
    <div role="main">
      <router-view></router-view>
    </div>
    <footer>
      <navbar></navbar>
    </footer>
  </div>
</template>

<script>
export default {
  name: "app",
  components: {
    Navbar: () =>
      import(/* webpackChunkName: "navbar" */ "./components/menu/NavBar")
  }
};
</script>

<style lang="scss">
@import "./scss/layout";
</style>