@import "node_modules/reset-css/sass/_reset.scss";
@import "./partials/colors";
@import "./partials/icons";
@import "./partials/typography";
@import "./partials/helpers";
@import "./partials/buttons";

html,
body {
  height: 100%;
  margin: 0;
  background: $background-color;
  max-width: 100vw;
}
#app {
  height: 100%;
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: auto 1fr;
}

header {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.16);
  grid-column: 1/-1;
  -ms-grid-column-span: 2;
  grid-row: 1;
  align-items: center;
  display: flex;
  padding: 15px;
  justify-content: space-between;

  a {
    &.profile-link{
      text-align: center;
    }
  }
}

aside {
  display: none;
  
  @media (min-width: 992px) {
    padding: 15px;
    display: block;
    grid-row: 2;
    grid-column: 1;
    width: 130px;
  }
}

[role="main"] {
  padding: 15px;
  grid-row: 2 span;
  grid-column: 2;
  overflow-y: scroll;

  @media (min-width: 992px) {
    grid-row: 2;
    grid-column: auto;
  }
}

footer {
  background: $footer-color;
  grid-column: 1/-1;
  padding: 10px 0;
  overflow: hidden;

  @media (min-width: 992px) {
    display: none;
  }

  nav {
    @media (min-width: 992px) {
      display: none;
    }
  }
}